body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  line-height: 1.4;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  color: white;
}

.center-nav {
  text-align: center;
  align-content: center;
}

.newArray-btn {
  padding-left: 30%;
  padding-right: 30%;
}

.sorting-buttons {
  margin: 1.7%;
}

.colPad {
  padding-top: 1%;
  padding-bottom: 1%;
}

.flex-container {
  margin-top: 40px;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 500px;
  justify-content: center;
}

.flex-item {
  background: turquoise;
  border: 1pt solid white;
  width: 9px;
  transition: 0.1s all ease;
}

.medium-flex-item {
  background: turquoise;
  border: 1pt solid white;
  width: 14px;
  transition: 0.1s all ease;
}

.small-flex-item {
  background: turquoise;
  border: 1pt solid white;
  width: 30px;
  transition: 0.1s all ease;
}

.smallest-flex-item {
  background: turquoise;
  border: 1pt solid white;
  width: 50px;
  transition: 0.1s all ease;
}

#input {
  display: flex;
  padding: 10px;
  justify-content: space-around;
  color: white;
}

#header {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #101010;
  padding: 0;
  margin: 0;
}
ul.footer {
  margin-top: 10px;
  text-align: center;
}

ul.footer li {
  color: #333;
  display: inline-block;
}

#footer {
  background: black;
  bottom: -20px;
  height: 50px;
  left: 0;
  position: absolute;
  right: 0;
}
